{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}
{% url 'carts:cart' as cart %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <img src= "{% static 'images/208568_original_3840x3760.jpg' %}" alt="Acá va el logo" width="100px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-2">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link">
          <span class="fas fa-user"></span>
          {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == logout %}active{% endif %}" href="{{ logout }}">
          <span class="fas fa-sign-in-alt"></span>
          Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == login %}active{% endif %}" href="{{ login }}">
          <span class="fas fa-user"></span>
          Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == register %}active{% endif %}" href="{{ register }}">
          <span class="fas fa-user-plus"></span>
          Registro</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == cart %}active{% endif %}" href="{{ cart }}">
          <span class="fas fa-shopping-cart"></span>
          Carrito</a>
        </li>                      
      </ul>
    </div>
  </div>
</nav>